{% extends 'base.html' %}
{%load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet"  href="{% static 'css_orders/style_orders.css' %}">
</head>
<body>
  <div><input type="button" value="주문 생성하기" onClick="location.href='new_host'"></div>
  <div><input type="button" value="주문 참여하기" onClick="location.href='read'"></div>  
    


   
</body>
</div>
</html>



{% endblock %}