{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>
    {% block content %}
    <form action="{% url 'orders:create_order' %}" method="POST" enctype="multipart/form-data" id="create-order">
    {% csrf_token %}
        가게 이름 <input type="text" name="create_order_restaurant"><br>
        대분류 <input type="text" name="fname"><br>
        배달 수령 위치 <input type="text" name="create_order_take_place"><br>
        최소 금액 <input type="number" name="create_order_min_price"><br>
        <!--주문 시간 <input type="time" name="create_order_order_time"><br>-->
        balance <input type="number" name="create_order_balance"><br>
        최대 인원 <input type="number" name="create_order_max_user"><br>
        <button type="submit" form="create-order">배달 생성하기!</button>
    </form>

    <a href="{% url 'orders:read' %}">hi</a>
    <div><input type="button" value="주문 참여하d기" name = "order_invite" onClick = "location.href='read'" ></div>
    <div><input type="submit" value="주문 참여하기" name = "order_invite" href="{%url 'orders:read'%}'" ></div>

    <form>
        <button type="submit" formaction="{% url 'orders:read' %}">TEST</button>
    </form>
    
    
    
 
    
    {%endblock%}
</body>
</html>