<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <p></p>
        <table>
                <thead>
                    <tr>
                        <th>주문인</th>
                        <th>장소(권역)</th>
                        <th>음식점</th>
                        <th>최소금액</th>
                        <th>남은금액</th>
                        <th>배달비용 유무 </th>
                        <th>주문 시작 시간</th>
                        <th>남은 시간</th>
                        <th>상태</th>
                    </tr>
                    
                </thead>
                <tbody>
                    

                    {% for order in read_order %}
                    <tr>
                        <td>{{order.take_place}}</td>
                        <td>{{order.restaurant}}</td>
                        <td>{{order.min_price}}</td>
                        <td>{{order.host}}</td>
                        <td>{{order.min_price|add:5}}</td>
                        <td>{{order.order_time}}</td>
                        
                        

                    </tr>
                    
                    {% endfor %}

                   
                   
                </tbody>
                        
                
                
            </table>
</body>
</html>