{% extends "account/base.html" %}
{% block content %}
{% load account socialaccount %}
{% load staticfiles %}
{% providers_media_js %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{% static 'css_accounts/login.css' %}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="kpx_login">
        {% if user.is_authenticated %}
        <div class="status_login">
            <span>{{user.username}} 님 환영합니다!</span>
            <a href="/account/logout">Logout!</a>
        </div>
    {% else %}
    </div><br>
    <!--Google, Kakao Login button-->
  <div class="sociallogin-to-bottom">
    <br><br><br>
    <div class="offer_sociallogin">
        <h1>회원 가입이 안되어 있으시면, 아래의 </h1>
    </div>
    <div class="row kpx_row-sm-offset-3 kpx_socialButtons">
          <div class="col-xs-2 col-sm-2">
            <form>
                <button class="btn-kakao" formaction="{% provider_login_url 'kakao' %}" data-toggle="tooltip" data-placement="top" title="kakao"><img class="btn-kakao-img" src ="{% static 'image/kakao/kr/kakao_account_login_btn_medium_narrow.png' %}"></img>
            </form>
          <div class="col-xs-2 col-sm-2">
            <form>
                <button class="btn-google" formaction="{% provider_login_url 'google' %}" data-toggle="tooltip" data-placement="top" title="kakao"><img class="btn-google-img" src ="{% static 'image/google/btn_google_signin_light_normal_web.png' %}"></img>
            </form>
          </div>
    </div>
    <br>
		<div class="row kpx_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">12334</a>
                    <button class="primaryAction" type="submit">56456</button>
                  </form>
			</div>
    	</div>
			</div>
			<div class="forgot-password-div">
				<a href="/account/password/reset">Forgot password?</a>
      </div>
      <div class="signup-div">
        <a href="/account/signup">가입하기</a>  
      </div>
	</div>
</div>
<br><br>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
{% endif %}
{% endblock %}