.container{
    
    background-color : #C9DAFF;
    text-align: center;
}

.title_logo{
    margin: 0 auto;
    text-align: center;
    
}



/* Color Theme Swatches in Hex */
.다음의-복사본-eye-food-soft-1-hex { color: #C9DAFF; }
.다음의-복사본-eye-food-soft-2-hex { color: #E8A39E; }
.다음의-복사본-eye-food-soft-3-hex { color: #FFF094; }
.다음의-복사본-eye-food-soft-4-hex { color: #1BA18A; }
.다음의-복사본-eye-food-soft-5-hex { color: #6B6256; }

/* Color Theme Swatches in RGBA */
.다음의-복사본-eye-food-soft-1-rgba { color: rgba(200, 218, 255, 1); }
.다음의-복사본-eye-food-soft-2-rgba { color: rgba(232, 163, 158, 1); }
.다음의-복사본-eye-food-soft-3-rgba { color: rgba(255, 239, 147, 1); }
.다음의-복사본-eye-food-soft-4-rgba { color: rgba(26, 161, 137, 1); }
.다음의-복사본-eye-food-soft-5-rgba { color: rgba(107, 98, 86, 1); }

/* Color Theme Swatches in HSLA */
.다음의-복사본-eye-food-soft-1-hsla { color: hsla(221, 100, 89, 1); }
.다음의-복사본-eye-food-soft-2-hsla { color: hsla(4, 61, 76, 1); }
.다음의-복사본-eye-food-soft-3-hsla { color: hsla(51, 100, 79, 1); }
.다음의-복사본-eye-food-soft-4-hsla { color: hsla(169, 71, 36, 1); }
.다음의-복사본-eye-food-soft-5-hsla { color: hsla(34, 10, 37, 1); }
