.test_order{
background-color: blue;
font-size: 30px;
}


body{
    background-size : cover;
}

#cover{
    background-color: #2DA7E0;
    text-align: center;
    margin-top: center;
    margin-bottom: center;
}

.cover_page{

        
        
       

}